{% extends 'portfolio/base.html' %}

{% block content %}
<section class="hero">
    <h1>Treasure M. Lottring</h1>
    <p>A motivated and detail-oriented Full Stack Java Developer with a Diploma in IT (Software Development) from
        Rosebank College. Successfully completed a Geeks4Learning Learnership in Full Stack Java Development, gaining
        hands-on experience in Java, Angular, SQL, and microservices architecture. Proficient in backend logic, RESTful API
        integrations, and containerization with a strong understanding of Agile methodologies, serving as both a Scrum Master
        and Backend Developer on various projects. Passionate about scalable applications and AI-powered solutions.
        </p>
</section>

<section class="projects">
    <h2>My Projects</h2>
    <div class="project-grid">
        {% for project in projects %}
        <div class="project-card">
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description|truncatechars:100 }}</p>
            <a href="{% url 'project_detail' project.id %}">View Project</a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="skills">
    <h2>My Skills</h2>
    {% for skill in skills %}
    <div class="skill">
        <h3>{{ skill.name }}</h3>
        <div class="skill-bar">
            <!-- <div class="skill-level" style="width: {{ skill.proficiency }}%;"></div> -->
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}